<div class="card mb-5 pb-3 roundedCorners cardShadow">
    <img src="/images/{{id}}.jpg" style="width: 300px; height: 350px" class="mx-2 mt-3 p-3 card-img-top" alt="{{name}}">
    
    <div class="card-body">
        <!-- try to get picture to sit to the left -->
        <!-- <img src="" alt=""> -->
        <div class="text-center">
        <a href="/api/brew/{{id}}" class="card-title text-dark fs-1 text-decoration-none">{{name}}</a>
        </div>
        {{!-- <img src="" alt="" class="card-img-top"> --}}
        <div class="text-white bg-dark">
        <ul class="list-group list-group flush">
            <li class="list-group-item fs-2 py-4 bg-light">Brewery: <b>{{breweryName}}</b> </li>
            <li class="list-group-item fs-4 py-2 bg-light"><b>Details:</b> {{description}}</li>
            <li class="list-group-item fs-3 py-3 bg-light">Alcohol Content: {{alcContent}}%</li>
            <li class="list-group-item fs-3 py-3 bg-light">Style: {{style}}</li>
        </ul>
        </div>
        {{!-- <h2 class="card-header"></h2>
        <h2 class="card-text"></h2>
        <h3 class="card-text"></h3>
        <h3 class="card-text"></h3> --}}
        
    </div>
</div>