
<div class="card">
    <a href="/api/brew/{{id}}">
    <div class="card-body">
        <!-- try to get picture to sit to the left -->
        <!-- <img src="" alt=""> --><a href="/api/brew/{{id}}">
        <h1 class="card-header">{{name}}</h1>
        </a>
        <h2 class="card-text">{{breweryName}}</h2>
        <h2 class="card-text">{{description}}</h2>
        <h3 class="card-text">Alc%: {{alcContent}}</h3>
        <h3 class="card-text">Style: {{style}}</h3>
        
    </div>
    </a>
</div>

<script src="./js/home.js"></script>