<div class="row">
    <div class="col-md-12">
        {{!-- Show the beer we clicked on as one big card --}}
        <div class="card mb-5 pb-3 roundedCorners cardShadow">
            <div class="card-horizontal align-items-center">
                <div class="img-square-wrapper">
                    <img src="/images/{{brew.id}}.jpg" style="width: 250px; height: 375px" class="rounded  mx-4 mt-5 p-1 brewPageImage"
                        alt="{{name}}">
                </div>
                <div class="card-body">
                    <!-- try to get picture to sit to the left -->
                    <!-- <img src="" alt=""> -->
                    <div class="text-center">
                        <a href="/api/brew/{{brew.id}}"
                            class="card-title text-dark fs-1 text-decoration-none">{{brew.name}}</a>
                    </div>
                    <div class="text-white bg-dark">
                        <ul class="list-group list-group flush">
                            <li class="list-group-item fs-2 py-4 bg-light">Brewery: <b>{{brew.breweryName}}</b> </li>
                            <li class="list-group-item fs-4 py-2 bg-light"><b>Details:</b> {{brew.description}}</li>
                            <li class="list-group-item fs-3 py-3 bg-light">Alcohol Content: {{brew.alcContent}}%</li>
                            <li class="list-group-item fs-3 py-3 bg-light">Style: {{brew.style}}</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
        {{log brew}}

        {{!-- {{#if brew}}
        {{> Brewcard}}
        {{/if}} --}}
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        {{!-- Show each review as a card --}}
        {{#each review}}
        {{> Reviewcard}}
        {{/each}}

    </div>
</div>

{{!-- if logged in allow the user to add their own review --}}
{{#if logged_in}}
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <h1>Add your own review!</h1>
                <form class="new-review-form">

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Review</label>
                        <input type="text" class="form-control" id="review" placeholder="Review the Brew">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Score</label>
                        <input type="text" class="form-control" id="score" placeholder="Review the Brew">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Brew ID</label>
                        <select class="form-select" id="brew_id">
                            <option>{{brew.id}}</option>
                        </select>
                    </div>
                    <button class="btn btn-primary mt-3" type="submit">Submit Review!</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/if}}