<div class="row">
    <div class="col-md-12">
        {{!-- Show the beer we clicked on as one big card --}}

        <div class="card">
            <div class="card-body">
                <!-- try to get picture to sit to the left -->
                <!-- <img src="" alt=""> --><a href="/api/brew/{{brew.id}}">
                    <h1 class="card-header">{{brew.name}}</h1>
                </a>
                <h2 class="card-text">{{brew.breweryName}}</h2>
                <h2 class="card-text">{{brew.description}}</h2>
                <h3 class="card-text">Alc%: {{brew.alcContent}}</h3>
                <h3 class="card-text">Style: {{brew.style}}</h3>

            </div>
        </div>
        {{log brew}}

        {{!-- {{#if brew}}
        {{> Brewcard}}
        {{/if}} --}}
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        {{!-- Show each review as a card --}}
        {{#each review}}
        {{> Reviewcard}}
        {{/each}}

    </div>
</div>

{{!-- if logged in allow the user to add their own review --}}
{{#if logged_in}}
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <h1>Add your own review!</h1>
                <form class="new-review-form">

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">User Text here</label>
                        <input type="text" class="form-control" id="review" placeholder="Review the Brew">
                    </div>
                     <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">User Text here</label>
                        <input type="text" class="form-control" id="score" placeholder="Review the Brew">
                    </div>
                     <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">User Text here</label>
                        <input type="text" class="form-control" id="user_id" placeholder="Review the Brew">
                    </div>
                     <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">User Text here</label>
                        <input type="text" class="form-control" id="brew_id" placeholder="Review the Brew">
                    </div>

                    {{!-- <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">
                            Score</label>
                        <select class="form-select" id="score">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                        <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">
                            Score</label>
                        <select class="form-select" id="bid">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select> --}}

                    {{!-- </div> --}}
                    <button class="btn btn-primary mt-3" type="submit">Submit Review!</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/if}}